# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/LibreBridge

# Generated MOC, resource and UI files
moc_*.cpp
qrc_*.cpp
ui_*.h
ui_*.hpp

# qmake generated stuff
.qmake.stash
Makefile
